@media screen and (max-width: 700px) {
	
	.navText {
		color: $defaultText;
		font-size:14px;
		padding-left:0;
		//display: block;
		//margin-left:60px;
		//text-wrap: true;
		//margin-left: 100px;
		//display: inline-block;
	}

	#wrapper {
		//margin-top: 10%;
		width:98.2%;
		margin-left: 2%;
	}
	
	section {
		width: 100%;
		padding-left: 0;
	}
	
	#nav {
		width: 100%;
		margin-left: 2%;
	}
	
	#footer {
		width:100%;
		margin-left: 2%;
	}
	
	.secFlip {
		padding-left: 10px;
		width: 100%;
	}
	h2 {
		padding-left: 0;
	}
	
	p {
		padding-left: 0;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.navText {
		color: $defaultText;
		font-size:14px;
		padding-left:0;
		//display: block;
		//margin-left:60px;
		//text-wrap: true;
		//margin-left: 100px;
		//display: inline-block;
	}

	#wrapper {
		//margin-top: 10%;
		width:98.2%;
		margin-left: 2%;
	}
	
	section {
		width: 100%;
		padding-left: 0;
	}
	
	#nav {
		width: 100%;
		margin-left: 2%;
	}
	
	#footer {
		width:100%;
		margin-left: 2%;
	}
	
	.secFlip {
		padding-left: 10px;
		width: 100%;
	}
	h2 {
		padding-left: 0;
	}
	
	p {
		padding-left: 0;
	}
}