
.logoSmall {
	width: 9em;
	height: 5.8em;
	display: inline-block;
	margin-left: 10%;
	padding: 0;
}

.kitty {
	width: 200px;
	height: 140px;
	display: inline-block;
}

.veh {
	width: 200px;
	height: 140px;
	display: inline-block;
}

.ped {
	width: 200px;
	height: 140px;
	display: inline-block;
}

