/*****************************************
	POP UP
*****************************************/

#popup-content {
	background-color: #000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: $outerTextColor;
	max-width: 80%;
	padding: 0 10px 10px 10px;
	width: 50%;
	display: none;
	position: fixed;
	z-index: 1003;

	h2 {
		font-size: 1.2em;
		color: $outerTextColor;
		font-weight: bold;
		padding: 10px;
	}
	
	p {
		color: $outerTextColor;
	}
	
	a {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	
}

#popup-content > div + div{text-align:right;}

#blur {
	border-radius: 0;
	background-color: #fff;
	background: url(../img/blurTwo.jpg) no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: .7;
	//-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	//filter: alpha(opacity=50);
	position:fixed;
	top: 0;
	width: 100%;
	z-index:1001;
	display: none;
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
}

#overlay-bg {
	border-radius: 0;
	background-color: #000;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position:fixed;
	top: 0;
	width: 100%;
	z-index:1002;
	display: none;
}

.inPopDiv {
	vertical-align: top;
	//padding-left: 15%;
	//margin-left: 20%;
	width: 80%;
	display: inline-block;
}



